
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security6">
<head th:replace="admin/fragments/head :: head"></head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<header th:replace="admin/fragments/header :: header"></header>

		<aside th:replace="admin/fragments/aside :: aside"></aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					Blank page <small>it all starts here</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Examples</a></li>
					<li class="active">Blank page</li>
				</ol>
			</section>

			<section class="content">

				<div class="box">

					<div class="box-body">
						<h1>Chào mừng đến với trang quảng trị</h1>
					</div>

				</div>

			</section>
			
		</div>

		<footer th:replace="admin/fragments/footer :: footer"></footer>

	</div>

	<script th:replace="admin/fragments/script :: script"></script>
</body>
</html>
