<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="iconlogo" sizes="32x32" th:href="@{/fe/img/iconlogo.jpg}">
    <link rel="iconlogo" type="img/jpg" sizes="32x32" th:href="@{/fe/img/iconlogo.jpg}">
    <link rel="stylesheet" th:href="@{/fe/css/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/fe/css/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/fe/css/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/fe/css/plyr.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/fe/css/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/fe/css/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/fe/css/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/fe/css/style.css}" type="text/css">
</head>